@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: #000;
    font-family: Roboto;
    border: 0;
    outline: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_menu{
    text-transform: capitalize;
    display: flex;
}
.navbar_item{
    position: relative;
    padding: 30px 20px;
    display: inline-block;
    font-size: 15px;
}
.navbar_item:hover::before{
    position: absolute;
    content: '';
    background-color: red;
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
}
.navbar_sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: -10%;
    border-top: 2px red solid;
}
.navbar_sub-menu_item_link{
    font-size: 15px;
    width: 200px;
    padding-inline-start: 30px;
    padding-block: 10px;
    border-bottom: 1px solid gray;
}
.navbar_item:hover .navbar_sub-menu{
    display: block;
}