@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
:root {
  --primary-font: Roboto;
  --secondary-font: Roboto Slab;
  /* text color  */
  --color-black:#444;
  /* slider text color  */
  --color-white-1:#fff;
  /* background color  */
  --color-white-2:#f7f7f7;
  /* blog text color  */
  --color-gray-1: #9A9A9A;
  /* footer text color  */
  --color-gray-2: #D6D6D6;
  /* hr line color  */
  --color-red: #ff0000;
  /* slider title size  */
  --size-4xl:76px;
  --size-3xl:54px;
  /* heading text size  */
  --size-xxl: 31px;
  /* work_card_title,
    client_title,
    testimonial_card_title 
   */
  --size-xl: 21px;
  /* service_card_title  */
  --size-l: 18px;
  /* text color  */
  --size-m: 16px;
  --size-s: 14px;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: var(--color-black);
  font-family: var(--primary-font);
  border: 0;
  outline: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
p{
  font-size: var(--size-s);
}
.vh {
  background-color: #ffe0e0;
  height: 100px;
}
.navbar,
.slider,
.client,
.work,
.service,
.testimonial,
.blog{
  background-color: var(--color-white-2);
}

/* nav menu section start */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  display: inline-block;
  padding: 30px 20px;
}
.bar:first-child {
  top: 40%;
}
.bar:last-child {
  top: 60%;
}
.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 35px;
  background-color: var(--color-red);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.navbar_bar {
  display: none;
  position: relative;
  width: 100px;
  height: 100px;
}
.navbar_menu {
  text-transform: capitalize;
  display: flex;
  z-index: 100;
}
.navbar_item {
  position: relative;
  padding: 30px 20px;
  display: inline-block;
  font-size: var(--size-m);
}
.navbar_item:hover::before,
.navbar_item.active::before {
  position: absolute;
  content: "";
  background-color: var(--color-red);
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
}
.navbar_sub-menu {
  display: none;
  background-color: var(--color-white-1);
  position: absolute;
  top: 100%;
  left: -10%;
  border-top: 2px var(--color-red) solid;
}
.navbar_sub-menu_item_link {
  font-size: var(--size-m);
  width: 200px;
  padding-inline-start: 30px;
  padding-block: 10px;
  border-bottom: 1px solid gray;
  opacity: 0.8;
}
.navbar_sub-menu_item_link:hover {
  opacity: 1;
}
.navbar_item:hover .navbar_sub-menu {
  display: block;
}

@media (min-width: 1100px) {
  .navbar {
    gap: 200px;
  }
}
@media (max-width: 900px) {
  .navbar {
    gap: 200px;
  }
  .navbar_menu {
    display: none;
  }
  .navbar_menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 43%;
  }
  .navbar_bar {
    display: inline;
  }
  .navbar_menu.active .navbar_item {
    display: inline-block;
    background-color: var(--color-red);
    font-size: var(--size-m);
    width: 200px;
    padding-inline-start: 30px;
    padding-block: 20px;
    border-bottom: 1px solid gray;
  }
  .navbar_item_link {
    color: var(--color-white-1);
    font-weight: 300;
  }
  .navbar_sub-menu {
    display: block;
    position: relative;
    margin-top: 10px;
    padding: 0;
  }
  .navbar_sub-menu_item_link {
    border: 0;
    color: var(--color-white-1);
    font-weight: 300;
    background-color: var(--color-red);
    width: 150px;
    opacity: 1;
  }
}
/* nav menu section end */

/* slider section start  */
.slider {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden; /* Hide overflow content */
}

.btnL,
.btnR {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  width: 50px;
  height: 30px;
  border-radius: 4px;
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 3;
}

.btnL {
  top: 50%;
  left: 20px;
}

.btnR {
  top: 50%;
  right: 40px;
}
.fa-chevron-left,
.fa-chevron-right {
  color: var(--color-white-1);
  font-size: var(--size-m);
}
/* Define styles for your slides */
.slide {
  height: 600px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: none; /* Initially hide all slides */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active-slide {
  display: flex; /* Show the active slide */
}

.slide2 {
  background-image: url("../images/slide/slider_1.jpg");
}
.slide1 {
  background-image: url("../images/slide/slide_2.jpg");
}
.slide_title,
.slide_heading,
.slide_btn {
  color: var(--color-white-1);
}
.slide_title {
  font-weight: 300;
  font-size: var(--size-xxl);
  text-transform: capitalize;
}
.slide_line {
  background: var(--color-white-1);
  height: 1px;
  margin-top: 40px;
  width: 200px;
}
.slide_heading {
  font-family: var(--secondary-font);
  font-weight: 400;
  margin-block-start: 30px;
  margin-block-end: 30px;
  font-size: var(--size-4xl);
  text-transform: capitalize;
  position: relative;
}
.slide_heading-dot {
  background-color: var(--color-red);
  height: 15px;
  width: 15px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 70%;
  transform: translate(-100%, -30%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-100%, -30%);
  -moz-transform: translate(-100%, -30%);
  -ms-transform: translate(-100%, -30%);
  -o-transform: translate(-100%, -30%);
}
.slide_btn a {
  border: var(--color-white-1) 2px solid;
  color: var(--color-white-1);
  min-width: 1%;
  padding: 10px;
  font-size: 20px;
  margin: 0 auto;
}
.slide2 .slide_heading {
  font-size: var(--size-3xl);
}
.slide2 .slide_line {
  margin-top: -10px;
}
.slide2 .slide_title {
  margin-top: 60px;
}
.slide2 .slide_btn {
  margin-top: 120px;
}
@media (max-width: 1000px) {
  .slide {
    height: 500px;
  }
  .slide .slide_title {
    font-size: var(--size-xl);
  }
  .slide .slide_heading {
    font-size: var(--size-xxl);
  }
  .slide_heading-dot {
    height: 5px;
    width: 5px;
  }
}
/* slider section end  */
/* client section start  */
.client_container {
  display: flex;
  flex-wrap:wrap;
  padding: 40px;
}
.stroke {
  color: var(--color-white-1);
  font-size: 55px;
  -webkit-text-stroke: 1.5px var(--color-red);
  border-radius: 50%;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.stroke:hover {
  color: var(--color-red);
  -webkit-text-stroke: 1.5px var(--color-white-1);
  font-size: 55px;
  background-color: var(--color-red);
  border-radius: 50%;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.client {
  display: flex;
  flex-direction: column;
  min-width:250px;
}
.client_title {
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--color-black);
  font-size: 22px;
  font-weight: 300;
  margin: 10px auto;
}
.client_text {
  font-weight: 300;
  text-align: center;
  max-width: 250px;
  margin: 30px;
}
@media (min-width: 1000px) {
  .client_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* client section end  */
/* work section start  */
.work_title,.service_title,.testimonial_title {
  font-family: var(--secondary-font);
  font-size: var(--size-xxl);
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  margin-block: 30px;
}
.work_line,.service_line,.testimonial_line{
  height: 1px;
  background: #F44336;
  position: relative;
  width: 50px;
}
.work-text,.service_text,.testimonial_text,.testimonial_card_title span{
  text-align: center;
  font-size: var(--size-m);
  margin-block: 30px;
  font-weight: 300;
}
.work_cards,.service_cards,.testimonial_cards{
  margin-block: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.work_card{
  max-width: 400px;
  overflow: hidden;
  background-color: var(--color-white-1);
  text-align: center;
}
.work_card_img{
  width: 250px;
  margin: 0 auto;
  display:block;
}
.testimonial_card_img{
  width: 100px;
  padding: 15px;
}
.work_card_title,.service_card_title,.testimonial_card_title{
  font-family: var(--secondary-font);
  font-size: var(--size-xl);
  font-weight: 300;
  margin-block: 20px;
}
.work_card_text{
  font-weight: 300;
}
.work_btn{
  text-align: center;
  background: var(--color-white-1);
  border: 1px solid gray;
  display: flex;
  text-transform: capitalize;
  padding-block: 10px;
  margin-block: 50px;
  font-size: var(--size-s);
  font-weight: 300;
  max-width: 150px;
  margin: 0 auto;
}
/* work section end  */
/* rating section start  */
.ratings{
  background-image: url(../images/client/client_bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  row-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 50px;
  margin:0 auto;
}
.ratings > div:nth-child(4) {
  justify-self: center;
}
.rating .stroke,.rating .stroke{
  font-size: 40px;
  background-color: transparent;
  color: transparent;
  -webkit-text-stroke: var(--color-white-1) 2px;
}
.rating{
  text-align: center;
  min-width: 400px;
  max-width: 410px;
  justify-self: center;
  align-self: center;
  padding-block: 40px;
}
.rating_count{
  color: var(--color-white-1);
  font-size: 50px;
  font-weight: 300;
  margin-block: 5px;
}
.rating_text{
  color: var(--color-white-1);
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: var(--size-m);
  margin-block-end: 20px;
}
/* rating section end */
/* service section start  */
.service,.testimonial{
  margin: 20px;
}
.service_card,.testimonial_card{
  display: flex;
  max-width: 400px;
}
.service_card_icon .stroke:hover{
  background-color: var(--color-white-1);
  color: var(--color-white-1);
  -webkit-text-stroke: 1.5px var(--color-red);
}
/* service section end  */
/* testimonial section start  */
.testimonial{
  background-color: #F7F7F7;
  margin: auto;
  max-width: 1400px;
}
  .testimonial_cards{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .testimonial_card_img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width:600px) {
.testimonial_cards{
  grid-template-columns: 1fr;
}  
}
/* testimonial section end */
/* blog section start  */
.blog_cards{
  display: flex;
  flex-wrap:wrap;
  max-width: 1200px;
}
.blog_card{
  text-align: center;
}
.blog_card_img{
  max-width: 360px;
  height: 250px;
}
.blog_card_title{
  font-family: var(--secondary-font);
  font-size: var(--size-l);
  font-weight: 300;
  color: var(--color-black);
  padding-block: 10px;
}
.blog_card_text{
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: var(--size-s);
  color: var(--color-gray-1);
}
/* blog section end  */

/* footer section start  */
footer{
  background-color: var(--color-black);
  padding-inline: 40px;
}
.footer_social{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr;
}
.footer_social_icon{
  width: 100%;
  padding-block: 10px;
  text-align: center;
}
.footer_social_icon a{
  border: 5px solid var(--color-white-1);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.footer_social_icon a i{
line-height: 50px;
text-align: center;
  font-size: 40px;
  color: var(--color-white-1);
}
.footer-logo{
  width: 100%;
}
.footer-col img{
  display: inline-block;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-block-start: 30px;
}
.footer-text{
  max-width: 100%;
  color: var(--color-white-2);
  font-size: var(--size-s);
  font-weight: 300;
}
.footer-title{
  color: var(--color-white-1);
  font-size: var(--size-l);
  font-weight: 300;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
}
.footer-item,.footer-item i,.footer-item a{
  color: var(--color-white-1);
  font-size: var(--size-s);
}
.footer-item{
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-gray-2);
  font-weight: 300;
}
.footer-item span{
  text-align: right;
  color: var(--color-white-2);
}
.contact{
  color: var(--color-white-2);
}
@media(max-width:767px){
  .footer-col{
    width: 50%;
  }
  .copyright{
    flex-direction: column;
  }
}
@media(max-width:574px){
  .footer-col{
    width: 100%;
  }
}
.copyright{
  width: 100%;
  background-color: var(--color-black);
 display: flex;
 justify-content: space-between;
}
.copyright-l{
  display: inline-block;
  text-align: left;
  color: var(--color-white-2);
  width: 100%;
}
.copyright-r{
width: 100%;
  display: inline-block;
  text-align: right;  color: var(--color-white-2);
}
.copyright-r ul{
  
  text-align: right;
}
.copyright-r ul li{
  display: inline-block;
}
.copyright-r ul li a{
  color: var(--color-white-2);
  padding-inline-end: 10px;
}
