@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
:root {
  --primary-font: Roboto;
  --secondary-font: Roboto Slab;
  --text-black: #444444;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ff0000;
  --size-xxl: 27px;
  --size-xl: 24px;
  --size-l: 21px;
  --size-m: 18px;
  --size-s: 15px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  color: var(--text-black);
}
section {
  max-width: 1450px;
  margin: 0 auto;
}
ul li {
  display: inline-block;
}
ul li a {
  color: var(--text-black);
  display: inline-block;
}
.text_1 {
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 300;
}
.text_1 {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 1000px) {
  .text_1 {
    color: #fff;
  }
}
.text_2 {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 300;
}
.title_1 {
  font-size: 21px;
  font-family: var(--secondary-font);
  font-weight: 300;
}
/* stroke for icon  */
.stroke {
  font-size: 55px;
  color: var(--color-white);
  -webkit-text-stroke: 1.5px var(--color-red);
  border-radius: 50%;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.stroke:hover {
  color: var(--color-red);
  -webkit-text-stroke: 1.5px var(--color-white);
  background-color: var(--color-red);
}
/* navbar section  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_menu {
  display: flex;
}
.navbar_menu_item .navbar_menu_item_link {
  padding-block: 30px;
  padding-inline: 20px;
}
/* client section  */
.client_cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.client_cards_card{
    max-width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.client_cards_card_icon,
.client_cards_card_title,
.client_cards_card_text {
  text-align: center;
  max-width: 273px;
}
